<!-- contact us -->
<section style="background: black;color: white;height: 400px;">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="inner_text1">Contact Us</h1>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <p class="inner_text_p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore adipisci temporibus
          dolor unde nemo distinctio voluptatem ducimus pariatur dolorum repellendus. Suscipit quidem voluptate quam ut
          itaque odit praesentium dicta rem.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1 style="text-align: center;">Contact Us</h1>
    <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, exercitationem
      rerum magni, rem molestiae voluptas adipisci labore perspiciatis facere suscipit corporis accusantium debitis ut
      fugiat assumenda mollitia, dicta minus itaque.</p>
    <div class="row" style="padding-top: 75px;">
      <div class="col-md-5">
        <div class="card">

          <div class="text_card">
            <h4><b>Get In Touch With Us</b></h4>
            <p>If you have any question, Please don’t hesitate to send us a message</p>
            <form action="#" method="post" style="padding-top: 30px;">
              <div class="form-group1">
                <input type="text" id="name" name="name" placeholder="Name" required>
              </div>
              <div class="form-group1">
                <input type="email" id="email" name="email" placeholder="Email" required>
              </div>
              <div class="form-group1">
                <input type="tel" id="phone" name="phone" placeholder="Phone No" required>
              </div>
              <div class="form-group1">
                <input type="text" id="subject" name="subject" placeholder="Subject" required>
              </div>
              <div class="form-group1">
                <textarea id="message" name="message" placeholder="Message" required></textarea>
              </div>
              <button type="submit">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-7">
        <img src="assets/images/contact-us.png" style="height: 400px;width: 600px;">
        <div style="padding-top: 30px;">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.538889092889!2d-122.41923698454149!3d37.774929679759484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858094c6478e69%3A0x4097b647e5d49e6!2sGolden%20Gate%20Bridge!5e0!3m2!1sen!2sus!4v1585118499571!5m2!1sen!2sus"
            width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  style="background: linear-gradient(to bottom, white 50%, rgba(8, 73, 170, 1) 50%);;height: 250px;margin-top: 60px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card_contact">
          <div style="padding-left: 34%;z-index: 2;
              position: absolute;
              top: -40px;">
            <img src="assets/images/home.png" style="height: 80px;">
          </div>

          <div class="container" style="text-align: center;position: relative;">
            <h4 style="padding-top: 40px;"><b>Our Location</b></h4>
            <p style="font-size: 10px;
                color: rgba(158, 156, 156, 1);
                text-align: left;
                line-height: 1.5;
                padding-left: 92px;">1600 Amphitheatre Parkway Mountain View CA 94043</p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="card_contact">
          <div style="padding-left: 34%;z-index: 2;
              position: absolute;
              top: -40px;">
            <img src="assets/images/phone.png" style="height: 80px;">
          </div>

          <div class="container" style="text-align: center;position: relative;">
            <h4 style="padding-top: 40px;"><b>Phone Number</b></h4>
            <p style="font-size: 10px;
                color: rgba(158, 156, 156, 1);
                text-align: left;
                line-height: 1.5;
                padding-left: 77px;">+(1) 123 656 7890<br>
              +(1) 123 656 7890</p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="card_contact">
          <div style="padding-left: 34%;z-index: 2;
              position: absolute;
              top: -40px;">
            <img src="assets/images/email.png" style="height: 80px;">
          </div>

          <div class="container" style="text-align: center;position: relative;">
            <h4 style="padding-top: 40px;"><b>Email Address</b></h4>
            <p style="font-size: 10px;
                color: rgba(158, 156, 156, 1);
                text-align: left;
                line-height: 1.5;
                padding-left: 83px;">hello@liquid-themes.com</p>
          </div>
        </div>
      </div>
  </div>
  </div>

</section>
