<section id="work" class="bg-dark1">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-title-crtv wow fadeIn" data-wow-delay="300ms">
                <h2>.freelance</h2>
                <h2>.ensoleille</h2>
                <h2>.attractif</h2>
                <h2><i>.detaille</i></h2>
            </div>
        </div>
    </div>
  </div>
    <div class="work_sec">
    <div class="row d-block">

        <div id="js-filters-mosaic-flat" class="cbp-l-filters-alignCenter">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item cbp-filter-style">
                All <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".graphic-designs" class="cbp-filter-item cbp-filter-style">
                Graphic Designs <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".web-designs" class="cbp-filter-item cbp-filter-style">
                Web Designs <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".seo" class="cbp-filter-item cbp-filter-style">
                SEO <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".marketing" class="cbp-filter-item">
                Marketing <div class="cbp-filter-counter"></div>
            </div>
        </div>

        <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat no-transition">
            <div class="cbp-item web-designs marketing">
                <a href="assets/images/work1.jpg" class="cbp-caption cbp-lightbox" data-title="Bolt UI<br>by Tiberiu Neamu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work1.jpg" alt="work">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <p>Elegant | assets/Images</p>
                                <div class="cbp-l-caption-title">We are digital agency</div>
                                <span class="work-icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item graphic-designs seo">
                <a href="assets/images/work2.jpg" class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work2.jpg" alt="work">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <p>Elegant | assets/Images</p>
                                <div class="cbp-l-caption-title">Creative art work</div>
                                <span class="work-icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item graphic-designs web-designs">
                <a href="assets/images/work3.jpg" class="cbp-caption cbp-lightbox" data-title="WhereTO App<br>by Tiberiu Neamu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work3.jpg" alt="work">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <p>Elegant | assets/Images</p>
                                <div class="cbp-l-caption-title">Modern portfolio</div>
                                <span class="work-icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item seo marketing">
                <a href="assets/images/work6.jpg" class="cbp-caption cbp-lightbox" data-title="Remind~Me Widget<br>by Tiberiu Neamu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work6.jpg" alt="work">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <p>Elegant | assets/Images</p>
                                <div class="cbp-l-caption-title">Digital art works</div>
                                <span class="work-icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="cbp-item web-designs seo">
                <a href="assets/images/work4.jpg" class="cbp-caption cbp-lightbox" data-title="Seemple* Music<br>by Tiberiu Neamu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work4.jpg" alt="work">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <p>Elegant | assets/Images</p>
                                <div class="cbp-l-caption-title">Photography</div>
                                <span class="work-icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item web-designs marketing">
                <a href="assets/images/work5.jpg" class="cbp-caption cbp-lightbox" data-title="iDevices<br>by Tiberiu Neamu">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/images/work5.jpg" alt="work">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <p>Elegant | assets/Images</p>
                                <div class="cbp-l-caption-title">Modern workspace</div>
                                <span class="work-icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>
  </section>
