<section id="work" class="bg-dark1">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title-crtv wow fadeIn" data-wow-delay="300ms">
          <h2>.freelance</h2>
          <h2>.ensoleille</h2>
          <h2>.attractif</h2>
          <h2><i>.detaille</i></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="work_sec">
    <div class="row d-block">

      <div id="js-filters-mosaic-flat" class="cbp-l-filters-alignCenter">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item cbp-filter-style">
          All <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".corporate-coaching" class="cbp-filter-item cbp-filter-style">
          Corporate Coaching <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".specialised-coaching" class="cbp-filter-item cbp-filter-style">
          Specialised Coaching<div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".micro-coaching" class="cbp-filter-item cbp-filter-style">
          Micro Coaching <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".projects" class="cbp-filter-item">
          Projects <div class="cbp-filter-counter"></div>
        </div>
      </div>

      <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat no-transition">
        <div class="cbp-item corporate-coaching marketing col-md-4">
          <a href="assets/images/services/Manager_coaching.jpg"
            class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img
                src="assets/images/services/Manager_coaching.jpg"
                alt="work">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Manager Coaching</div>
                  <span class="work-icon">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item corporate-coaching col-md-4">
          <a href="assets/images/services/Team_Coaching.jpg"
            class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img
                src="assets/images/services/Team_Coaching.jpg"
                alt="work">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Team Coaching</div>
                  <span class="work-icon">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item corporate-coaching col-md-4">
          <a href="assets/images/services/Sales_Coaching.jpg"
            class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img
                src="assets/images/services/Sales_Coaching.jpg"
                alt="work">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">

                  <div class="cbp-l-caption-title">Sales Coaching</div>
                  <span class="work-icon">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item corporate-coaching col-md-4">
          <a href="assets/images/services/Performance_Coaching.jpg"
            class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img
                src="assets/images/services/Performance_Coaching.jpg"
                alt="work">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Performance Coaching</div>
                  <span class="work-icon">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="cbp-item specialised-coaching col-md-4">
          <a href="assets/images/services/digital_transformation.jpg" class="cbp-caption cbp-lightbox"
            data-title="World Clock<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/services/digital_transformation.jpg" alt="work">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">

                  <div class="cbp-l-caption-title">For leaders in digital transformation</div>
                  <span class="work-icon">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item  specialised-coaching col-md-4">
          <a href="assets/images/services/women_professionals.jpg" class="cbp-caption cbp-lightbox"
            data-title="World Clock<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/services/women_professionals.jpg" alt="work">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">

                  <div class="cbp-l-caption-title">For women leaders & professionals</div>
                  <span class="work-icon">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item  specialised-coaching col-md-4">
          <a href="assets/images/services/For_entrepreneurs.jpg" class="cbp-caption cbp-lightbox"
            data-title="World Clock<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img src="assets/images/services/For_entrepreneurs.jpg" alt="work">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">

                  <div class="cbp-l-caption-title">For entrepreneurs</div>
                  <span class="work-icon">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item micro-coaching col-md-4">
          <a href="assets/images/services/Micro_Coaching.jpg"
            class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img
                src="assets/images/services/Micro_Coaching.jpg"
                alt="work">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Micro Coaching</div>
                  <span class="work-icon">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="cbp-item projects col-md-4">
          <a href="assets/images/services/Lepivots_transitions.jpg"
            class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img
                src="assets/images/services/Lepivots_transitions.jpg"
                alt="work">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">

                  <div class="cbp-l-caption-title">Leading career pivots & transitions</div>
                  <span class="work-icon">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item projects col-md-4">
          <a href="assets/images/services/Talent_acquisition.jpg"
            class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img
                src="assets/images/services/Talent_acquisition.jpg"
                alt="work">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Talent acquisition </div>
                  <span class="work-icon">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
