<!-- Footer starts -->
<footer class="p-half  footer-section">
  <div class="ftr-top mb-5">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <div class="bx-ftr">
                      <h4>COMPANY</h4>
                      <ul>
                          <li><a href="#">Contact Us</a></li>
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Careers</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="bx-ftr">
                      <h4>PRODUCTS</h4>
                      <ul>
                          <li><a href="#">Company</a></li>
                          <li><a href="#">Contact</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                          <li><a href="#">Careers</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="bx-ftr">
                      <h4>NEED HELP?</h4>
                      <h3>CALL US DIRECTLY</h3>
                      <h2>+(1) 123 656 7890</h2>
                      <h3>NEED SUPPORT?</h3>
                      <h2>mail@info.com</h2>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="bx-ftr">
                      <h4>KEEP IN TOUCH</h4>
                  <form action="">
                      <div class="input-group">
                          <input type="email" class="text-white-50 form-control" name="email" placeholder="Enter your email address">
                          <input type="submit" value='>' class="ftsbt" style="padding: 0;">
                      </div>
                  </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
<div class="container">
<div class="row">
  <!-- <div class="col-md-3"><img src="assets/images/logo-mini.png" alt="logo" title="Logo" class="w-auto"></div>     -->
    <div class="col-md-6 col-sm-12">
        <p class="copyrights mt-2 mb-2">© 2024 Clarityst.</p>
    </div>
  <div class="col-md-6">
      <ul class="footer-icons text-right">
          <li><a href="javascript:void(0)" class="wow fadeInUp facebook"><i class="fab fa-facebook-f"></i> </a> </li>
          <li><a href="javascript:void(0)" class="wow fadeInDown twitter"><i class="fab fa-twitter"></i> </a> </li>
          <li><a href="javascript:void(0)" class="wow fadeInDown linkedin"><i class="fab fa-linkedin-in"></i> </a> </li>
          <li><a href="javascript:void(0)" class="wow fadeInUp instagram"><i class="fab fa-instagram"></i> </a> </li>
      </ul>
  </div>
</div>
</div>
</footer>
<!-- Footer ends -->
