<!-- Header start -->
<section class="top-header" id="sticky-nav">
  <div class="row no-gutters box_shadow">
    <div class="col-4 col-lg-4 d-flex logo-space">
      <a class="logo" routerLink="/home">
        <img src="assets/images/logo-mini-dark.png" class="logo-default" alt="logo" title="Logo">
      </a>
    </div>
    <div class="col-4 col-lg-4 d-flex">
      <!-- <span style="font-size:30px;cursor:pointer" (click)="openNav1()">&#9776; </span> -->
      <div class="navbar_header">
        <ul class="list">
          <li><a routerLink="/home">Home</a></li>
          <li>
            <div class="dropdown">
            <button class="dropbtn" routerLink="services">Services
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="/corporate-coaching">Corporate Coaching</a>
              <a routerLink="/specialised-coaching">Specialised Coaching</a>
              <a routerLink="/micro-coaching">Micro Coaching</a>
              <a routerLink="/projects">Projects</a>
            </div>
          </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn" routerLink="/unconventional">Unconventional
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a routerLink="/podcast">Podcast</a>
                <a routerLink="/blogs">Blog</a>
                <a href="#">Whitepapers</a>
              </div>
            </div>
          </li>
        </ul>
      </div>


    </div>
    <div class="col-4 d-flex justify-content-end">
      <a routerLink="/contact-us"
        class="btn-setting link btn-hvr-up btn-hvr-whatsapp color-black mr-lg-4 d-none d-lg-inline-block"><b> CONTACT</b></a>
    </div>
  </div>


</section>
<header>
<div class="sidenav-side " [ngClass]="{'opn':isNavOpen}" >
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav1($event)">&times;</a>
  <!-- <div class="sidebar-logo">
    <a class="logo" href="javascript:void(0)">
      <img src="assets/images/logo-mini.png" class="logo-default" alt="logo" title="Logo">
    </a>
  </div> -->
  <div style="margin-top: 80px;">
  <div class="row">
    <!-- <div class="col-md-2"></div>
    <div class="col-md-3">
      <h6 style="color: rgb(180, 178, 178);">Social</h6>
      <ul>
        <li>Facebook</li>
        <li>Behance</li>
        <li>Dribble</li>
        <li>Instagram</li>
        <li>Youtube</li>
      </ul>
    </div> -->
    <div class="col-md-12 mx-5">
      <h6 style="margin-left: 35px;color: rgb(180, 178, 178)">Menu</h6>
      <nav class="navbar">
        <ul class="nav-list">
          <li><a routerLink="/home" (click)="closeNav()" [ngClass]="{'active-nav':this.currentUrl == '/home'}">Home</a></li>
          <li class="dropdown" (click)="submenuOpen1()">
            <a class="subnavbtn" routerLink="services" (click)="closeNav()">Services<i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul class="dropdown-content" [ngClass]=" isMenuOpen ? 'sidenav_sub_open':'sidenav_sub_close'">
              <li class="sub_menu_font"><a routerLink="/corporate-coaching" (click)="closeNav()">Corporate Coaching</a></li>
                  <li class="sub_menu_font"><a routerLink="/specialised-coaching" (click)="closeNav()">Specialised Coaching</a></li>
                  <li class="sub_menu_font"><a routerLink="/micro-coaching" (click)="closeNav()">Micro Coaching</a></li>
                  <li class="sub_menu_font"><a routerLink="/projects" (click)="closeNav()">Projects</a></li>
            </ul>
          </li>
          <!-- <li class="dropdown"  (click)="submenuOpen1()">
            <a class="subnavbtn" routerLink="services">Services<i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-content dropdown-contentone" *ngIf="isMenuOpen">
              <li class="sub-dropdown" (click)="innerMenuOpen1($event)">
                <a class="subnavbtn" routerLink="/corporate-coaching" >Corporate Coaching<i class="fa fa-caret-down"></i></a>
                <ul class="sub-dropdown-content" *ngIf="isSubmenuOpen">
                  <li><a href="#">Manager Coaching</a></li>
                  <li><a href="#">Sales Coaching</a></li>
                  <li><a href="#">Performance Coaching</a></li>
                  <li><a href="#">Team Coaching</a></li>
                </ul>
              </li>
              <li class="sub-dropdown" (click)="innerMenuOpen2($event)">
                <a class="subnavbtn">Specialised Coaching<i class="fa fa-caret-down"></i></a>
                <ul class="sub-dropdown-content" *ngIf="isSubmenuOpen1">
                  <li><a href="#">For leaders in digital transformation</a></li>
                  <li><a href="#">For women leaders and professionals</a></li>
                  <li><a href="#">For entrepreneurs</a></li>
                </ul>
              </li>
              <li><a href="#">Micro Coaching</a></li>
              <li class="sub-dropdown" (click)="innerMenuOpen3($event)">
                <a class="subnavbtn">Projects<i class="fa fa-caret-down"></i></a>
                <ul class="sub-dropdown-content" *ngIf="isSubmenuOpen2">
                  <li><a href="#">Leading career pivots and transitions</a></li>
                  <li><a href="#">Talent acquisition through a culture lens</a></li>
                  <li><a href="#">For entrepreneurs</a></li>
                </ul>
              </li>
            </ul>
          </li> -->
          <li class="dropdown" (click)="submenuOpen2()">
            <a class="subnavbtn" routerLink="/unconventional" (click)="closeNav()">Unconventional<i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul class="dropdown-content"  [ngClass]=" isMenuOpen1 ? 'sidenav_sub_open':'sidenav_sub_close'">
              <li class="sub_menu_font"><a routerLink="/podcast" (click)="closeNav()">Podcast</a></li>
                  <li class="sub_menu_font"><a routerLink="/blogs" (click)="closeNav()">Blog</a></li>
                  <li class="sub_menu_font"><a routerLink="#">Whitepapers</a></li>
            </ul>
          </li>
          <li><a routerLink="/contact-us" (click)="closeNav()" [ngClass]="{'active-nav':this.currentUrl == '/home'}">Contact Us</a></li>
        </ul>
      </nav>
    </div>
    <!-- <div class="col-md-1"></div> -->

  </div>
</div>
<div class="get_nav">
  <h6 style="color: rgb(180, 178, 178);">Get in touch</h6>
  <h5>info@clarityst.com</h5>
</div>
 <!-- <nav class="navbar" (click)="stopPropagation($event)">
    <ul class="nav-list">
      <li><a routerLink="/home" (click)="closeNav1($event)" [ngClass]="{'active-nav':this.currentUrl == '/home'}">Home</a></li>
      <li class="dropdown"  (click)="submenuOpen1()">
        <a class="subnavbtn" routerLink="services">Services<i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-content dropdown-contentone" *ngIf="isMenuOpen">
          <li class="sub-dropdown" (click)="innerMenuOpen1($event)">
            <a class="subnavbtn" routerLink="/corporate-coaching" >Corporate Coaching<i class="fa fa-caret-down"></i></a>
            <ul class="sub-dropdown-content" *ngIf="isSubmenuOpen">
              <li><a href="#">Manager Coaching</a></li>
              <li><a href="#">Sales Coaching</a></li>
              <li><a href="#">Performance Coaching</a></li>
              <li><a href="#">Team Coaching</a></li>
            </ul>
          </li>
          <li class="sub-dropdown" (click)="innerMenuOpen2($event)">
            <a class="subnavbtn">Specialised Coaching<i class="fa fa-caret-down"></i></a>
            <ul class="sub-dropdown-content" *ngIf="isSubmenuOpen1">
              <li><a href="#">For leaders in digital transformation</a></li>
              <li><a href="#">For women leaders and professionals</a></li>
              <li><a href="#">For entrepreneurs</a></li>
            </ul>
          </li>
          <li><a href="#">Micro Coaching</a></li>
          <li class="sub-dropdown" (click)="innerMenuOpen3($event)">
            <a class="subnavbtn">Projects<i class="fa fa-caret-down"></i></a>
            <ul class="sub-dropdown-content" *ngIf="isSubmenuOpen2">
              <li><a href="#">Leading career pivots and transitions</a></li>
              <li><a href="#">Talent acquisition through a culture lens</a></li>
              <li><a href="#">For entrepreneurs</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown" (click)="submenuOpen2()">
        <a class="subnavbtn" routerLink="/unconventional">Unconventional<i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-content" *ngIf="isMenuOpen1">
          <li><a routerLink="/podcast" (click)="closeNav1($event)">Podcast</a></li>
              <li><a routerLink="/blogs" (click)="closeNav1($event)">Blog</a></li>
              <li><a routerLink="#">Whitepapers</a></li>
        </ul>
      </li>
    </ul>
  </nav>  -->
  <!-- <div class="ftr-sidebar">
    <div class="slider-icons">
      <ul class="slider-social banner-social">
        <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i> </a></li>
        <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i> </a></li>
        <li><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i> </a></li>
        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i> </a></li>
      </ul>
    </div>
  </div>  -->
</div>
</header>



<!-- <a id="button_scroll"></a> -->
<div class="lqd-stickybar-wrap lqd-stickybar-right items-center justify-center">
  <div>
    <ul>
      <li><i class="fab fa-facebook-f"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fab fa-linkedin-in"></i></li>
      <li><i class="fab fa-instagram"></i></li>
      </ul>
      </div>

      <div class="-rotate-180 vertical-lr">
        <a routerLink="/contact-us" class="button1 text-black text-14">Contact Us</a>
      </div>
      <div class="-rotate-180 vertical-lr">
        <a routerLink="#" class="button1 text-black text-14">Membership</a>
      </div>
</div>
<!-- <i class="fas fa-user"></i> -->
