<!-- <p>leading-career works!-Podcast Page</p> -->
<section style="background: black;color: white;height: 300px;">
    <div class="container">
        <h1 class="blog_font">Podcast</h1>
        <p class="blog-para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque earum, animi quos ratione.</p>
    </div>
  </section>
  <section>
    <div class="container">
        <div>
            <h3 style="font-weight: bold;">Episode 4: TEN Commandments for planning a Research study or Thesis</h3>
            <p>Planning a study requires attention to detail. I have broken these down into 10 steps, called the 10 commandments. These encompass familiarizing yourself with the steps in performing quality research,</p>
            <div  class="row justify-content-center"><div  class="col-md-8" style="margin-top: 45px;"><iframe  width="100%" height="300" frameborder="0" allowfullscreen="" allow="autoplay" src="https://podcasters.spotify.com/pod/show/sabyasachi-sengupta/embed"></iframe></div></div>
        </div>
        <div>
            <h3 style="font-weight: bold;">Episode 5: TEN Commandments for planning a Research study or Thesis</h3>
            <p>Planning a study requires attention to detail. I have broken these down into 10 steps, called the 10 commandments. These encompass familiarizing yourself with the steps in performing quality research,</p>
            <div class="row justify-content-center"><div  class="col-md-8" style="margin-top: 45px;"><iframe  width="100%" height="300" frameborder="0" allowfullscreen="" allow="autoplay" src="https://podcasters.spotify.com/pod/show/sabyasachi-sengupta/embed"></iframe></div></div>
        </div>
        <div>
            <h3 style="font-weight: bold;">Episode 6: TEN Commandments for planning a Research study or Thesis</h3>
            <p>Planning a study requires attention to detail. I have broken these down into 10 steps, called the 10 commandments. These encompass familiarizing yourself with the steps in performing quality research,</p>
            <div  class="row justify-content-center"><div  class="col-md-8" style="margin-top: 45px;"><iframe  width="100%" height="300" frameborder="0" allowfullscreen="" allow="autoplay" src="https://podcasters.spotify.com/pod/show/sabyasachi-sengupta/embed"></iframe></div></div>
        </div>
        <div>
            <h3 style="font-weight: bold;">Episode 7: TEN Commandments for planning a Research study or Thesis</h3>
            <p>Planning a study requires attention to detail. I have broken these down into 10 steps, called the 10 commandments. These encompass familiarizing yourself with the steps in performing quality research,</p>
            <div class="row justify-content-center"><div  class="col-md-8" style="margin-top: 45px;"><iframe  width="100%" height="300" frameborder="0" allowfullscreen="" allow="autoplay" src="https://podcasters.spotify.com/pod/show/sabyasachi-sengupta/embed"></iframe></div></div>
        </div>
    </div>
  </section>
