<app-header></app-header>
<section class="unconventional_banner">
    <div class="container">

          <div class="Unconventional_section">
          <h1 style="font-weight: 700;color: rgb(255, 255, 255);font-size: 100px;text-align: center;">Unconventional</h1>
          <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore adipisci temporibus
            dolor unde nemo distinctio voluptatem ducimus pariatur dolorum repellendus. Suscipit quidem voluptate quam ut
            itaque odit praesentium dicta rem.</p> -->
            </div>
         </div>
  </section>
  <section class="about overflow-visible bg-dark1" id="about">
    <div class="container">
      <div class="row">
          <div class="col-lg-6 pr-5 mb-5 mb-lg-0 wow fadeInLeft">
              <div class="abtimg d-flex justify-content-between">
                <div class="abtimg1"><img src="assets/images/1.jpg" alt=""></div>
                <div class="abtimg2 position-absolute"><img src="assets/images/2.jpg" alt=""></div>
                <div class="abtimg3"><img src="assets/images/3.jpg" alt=""></div>
              </div>
          </div>
          <div class="col-lg-6 pl-6">
              <div class="main-title text-lg-left offset-md-1 mb-0 wow fadeInUp" data-wow-delay="300ms">
                  <h5 class="wow fadeInUp" data-wow-delay="300ms"> WHAT WE DO </h5>
                  <h2 class="wow fadeInUp font-weight-light" data-wow-delay="400ms"> We are making design better for everyone</h2>
                  <ul class="pb-5 text-left wow fadeInUp" data-wow-delay="600ms">
                      <li>01 <span>Art Direction</span> </li>
                      <li>02 <span>Marketing Strategy</span></li>
                      <li>03 <span>Mobile App Design</span></li>
                      <li>04 <span>Content Management</span></li>
                      <li>05 <span>System & Guides</span></li>
                      <li>06 <span>Graphic Design</span></li>
                      <li>07 <span>Graphic Design</span></li>
                      <li>08 <span>Graphic Design</span></li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
    </section>
    <section class="inner_page" style="border-bottom-style: none;">
        <div class="container" style="border-bottom-style: solid;
        border-bottom-color: #777;
        border-bottom-width: 1px; padding-bottom: 70px;">
          <div class="row">
            <div class="col-md-6">
              <h1>IT Business Solution tect effect</h1>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, distinctio doloremque sed aspernatur commodi
                quos in velit, libero quidem porro assumenda corporis expedita fuga sit quae maxime architecto dolorum
                eveniet.</p>
                <a href="#" class="blg-btn">read more</a>

            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <ng-container *ngFor="let panel of panels; let i = index">
                <button class="accordion dropdown-toggle-icon"  (click)="togglePanel(i)">
                  {{ panel.title }}
                </button>
                <div class="panel" [ngClass]="{'active': activePanelIndex === i}">
                  <p>{{ panel.content }}</p>
                </div>
              </ng-container>

            </div>

          </div>

        </div>

      </section>
      <section class="unconventional-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card-blog">
                        <div class="card__header">
                          <img src="https://img.freepik.com/free-photo/technology-communication-icons-symbols-concept_53876-120314.jpg?w=740" alt="card__image" class="card__image">
                        </div>
                        <div class="card__body">

                          <h4 class="blog_head">Blogs</h4>
                          <p class="blog_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                          <a href="#" class="blg-btn">View All</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card-blog">
                        <div class="card__header">
                          <img src="https://img.freepik.com/free-photo/smiley-woman-broadcasting-radio-with-microphone_23-2148808752.jpg?w=740" alt="card__image" class="card__image">
                        </div>
                        <div class="card__body">

                          <h4 class="blog_head">Podcast</h4>
                          <p class="blog_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                          <a href="#" class="blg-btn">View All</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card-blog">
                        <div class="card__header">
                          <img src="https://img.freepik.com/premium-photo/young-businessman-holding-looking-document-paper_44344-19.jpg?w=826" alt="card__image" class="card__image">
                        </div>
                        <div class="card__body">

                          <h4 class="blog_head">Whitepapers</h4>
                          <p class="blog_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                          <a href="#" class="blg-btn">View All</a>
                        </div>
                      </div>
                </div>
                </div>
            </div>
      </section>

