<section id="clients" class="no-transition" style="background: #202020; width: 100vw;">
  <h2 class="d-none">heading</h2>
    <div class="pd-3">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title wow fadeIn" data-wow-delay="300ms">
                    <h2 class="mb-4">Valuable Clients</h2>
                    <div class="d-flex">
                      <h5>TESTIMONIAL</h5>
                      <div class="line">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-7">
              <div class="owl-carousel owl-theme testimonial-two hide-cursor mx-auto wow zoomIn" data-wow-delay="400ms">
                  <div class="testimonial-item">
                      <p class="color-white testimonial-para mb-15px"> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>
                  </div>

              </div>
          </div>
          <div class="col-md-3 text-center offset-md-2">
              <div class="nbrtest">
                  <span class="bigno">1</span>
                  <span>/</span>
                  <span>4</span>
              </div>
          </div>
        </div>
    </div>
    <div class="mrq mt-5">
      <div class="slider_pd">
          <div class="row">
              <div class="col-md-12">
                  <marquee>
                      <img src="assets/images/logo/1.jpg" alt="">
                      <img src="assets/images/logo/2.jpg" alt="">
                      <img src="assets/images/logo/3.jpg" alt="">
                      <img src="assets/images/logo/4.jpg" alt="">
                      <img src="assets/images/logo/5.jpg" alt="">
                      <img src="assets/images/logo/6.jpg" alt="">
                      <img src="assets/images/logo/7.jpg" alt="">
                      <img src="assets/images/logo/8.jpg" alt="">
                      <img src="assets/images/logo/9.jpg" alt="">
                      <img src="assets/images/logo/10.jpg" alt="">
                      <img src="assets/images/logo/11.jpg" alt="">
                      <img src="assets/images/logo/1.jpg" alt="">
                      <img src="assets/images/logo/2.jpg" alt="">
                      <img src="assets/images/logo/3.jpg" alt="">
                      <img src="assets/images/logo/4.jpg" alt="">
                      <img src="assets/images/logo/5.jpg" alt="">
                      <img src="assets/images/logo/6.jpg" alt="">
                      <img src="assets/images/logo/7.jpg" alt="">
                      <img src="assets/images/logo/8.jpg" alt="">
                      <img src="assets/images/logo/9.jpg" alt="">
                      <img src="assets/images/logo/10.jpg" alt="">
                      <img src="assets/images/logo/11.jpg" alt="">
                  </marquee>
              </div>
          </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">

    <div class="row justify-content-center">
        <div class="col-md-9">
            <h5 class="text-center">Clients pay for the transformation they are seeking, not for the hours TheClarityst coach
            puts in. Therefore, as a principle, all packages offer unlimited sessions with the coach.</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
                <div class="plan Plans_plan__Faj5b plan_us plan_5026843 Plans_active__9yubQ" tabindex="-1" style="width: 100%; display: inline-block;">
                    <em class="Plans_discount__ahs6N">3 months
                    </em>
                    <h3>Pixel</h3>
                    <div class="Plans_price__oqQP9">$3,000</div>
                    <button id="plan_singledomainhostinglinuxus_5026843" class="Plans_btn__kk7h7" data-plan="5026843">Book Now</button>
                    <ul class="Plans_features__O9FnA">
                        <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>The impact of the transformation the client is seeking is largely personal</span></li>
                        <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>As many or as few sessions that serve the client best</span></li>
                        <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>Each session is 90-120 minutes</span></li>
                        
                        <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>Micro coaching (5-15 min. “call for help” sessions)</span></li></ul></div>
        </div>
        <div class="col-md-4">
            <div class="plan Plans_plan__Faj5b plan_us plan_5026843 Plans_active__9yubQ" tabindex="-1" style="width: 100%; display: inline-block;">
                <em class="Plans_discount__ahs6N"> 6 months
                </em>
                <h3>Picture</h3>
                <div class="Plans_price__oqQP9">$</div>
                <button id="plan_singledomainhostinglinuxus_5026843" class="Plans_btn__kk7h7" data-plan="5026843">Book Now</button>
                <ul class="Plans_features__O9FnA">
                    <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>The impact of the transformation the client is seeking is largely personal
                    </span></li>
                    <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>As many or as few sessions that serve the client best</span></li>
                    <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>Each session is 90-120 minutes</span></li>
                    
                    <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>Micro coaching (5-15 min. “call for help” sessions)</span></li></ul></div>
    </div>
    <div class="col-md-4">
        <div class="plan Plans_plan__Faj5b plan_us plan_5026843 Plans_active__9yubQ" tabindex="-1" style="width: 100%; display: inline-block;">
            <em class="Plans_discount__ahs6N">12 months
            </em>
            <h3>Panorama</h3>
            <div class="Plans_price__oqQP9">$3,000</div>
            <button id="plan_singledomainhostinglinuxus_5026843" class="Plans_btn__kk7h7" data-plan="5026843">Book Now</button>
            <ul class="Plans_features__O9FnA">
                <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>The impact of the transformation the client is seeking is largely personal</span></li>
                <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>As many or as few sessions that serve the client best</span></li>
                <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>Each session is 90-120 minutes</span></li>
                
                <li><span><i class="Plans_icTick__IANNR undefined"><img src="https://assets.bigrock.in/ui/resellerdata/240000_269999/247133/bigrock.in/bigrock/themes/ClassicBlue-MyTheme/images/myUploadedImages/tickgreensmall.svg"></i>Micro coaching (5-15 min. “call for help” sessions)</span></li></ul></div>
</div>
    </div>
    </div>
  </section>
