<section id="clients" class="no-transition" style="background: #202020; width: 100vw;">
  <h2 class="d-none">heading</h2>
    <div class="pd-3">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title wow fadeIn" data-wow-delay="300ms">
                    <h2 class="mb-4">Valuable Clients</h2>
                    <div class="d-flex">
                      <h5>TESTIMONIAL</h5>
                      <div class="line">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-7">
              <div class="owl-carousel owl-theme testimonial-two hide-cursor mx-auto wow zoomIn" data-wow-delay="400ms">
                  <div class="testimonial-item">
                      <p class="color-white testimonial-para mb-15px"> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>
                  </div>

              </div>
          </div>
          <div class="col-md-3 text-center offset-md-2">
              <div class="nbrtest">
                  <span class="bigno">1</span>
                  <span>/</span>
                  <span>4</span>
              </div>
          </div>
        </div>
    </div>
    <div class="mrq mt-5">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <marquee>
                      <img src="assets/images/logo/1.jpg" alt="">
                      <img src="assets/images/logo/2.jpg" alt="">
                      <img src="assets/images/logo/3.jpg" alt="">
                      <img src="assets/images/logo/4.jpg" alt="">
                      <img src="assets/images/logo/5.jpg" alt="">
                      <img src="assets/images/logo/6.jpg" alt="">
                      <img src="assets/images/logo/7.jpg" alt="">
                      <img src="assets/images/logo/8.jpg" alt="">
                      <img src="assets/images/logo/9.jpg" alt="">
                      <img src="assets/images/logo/10.jpg" alt="">
                      <img src="assets/images/logo/11.jpg" alt="">
                      <img src="assets/images/logo/1.jpg" alt="">
                      <img src="assets/images/logo/2.jpg" alt="">
                      <img src="assets/images/logo/3.jpg" alt="">
                      <img src="assets/images/logo/4.jpg" alt="">
                      <img src="assets/images/logo/5.jpg" alt="">
                      <img src="assets/images/logo/6.jpg" alt="">
                      <img src="assets/images/logo/7.jpg" alt="">
                      <img src="assets/images/logo/8.jpg" alt="">
                      <img src="assets/images/logo/9.jpg" alt="">
                      <img src="assets/images/logo/10.jpg" alt="">
                      <img src="assets/images/logo/11.jpg" alt="">
                  </marquee>
              </div>
          </div>
      </div>
    </div>
  </section>
