.Plans_plan__Faj5b {
    width: 30%;
    background: #fff;
    padding: 65px 0 5px;
    border: 1px solid #c4c6ca;
    text-align: center;
    position: relative;
    color: #1b1a19;
    border-radius: 4px;
    width: 100%;
    margin: 0 .5%;
    display: none;
    height: 100%;
}
.Plans_discount__ahs6N {
    background: #f9eef0;
    color: #cb4d64;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    border-radius: 4px 4px 0 0;
}
.Plans_plan__Faj5b h3 {
    font: 700 28px / 22px 'Source Sans Pro', sans-serif;
    margin-bottom: 0px;
}
.Plans_btn__kk7h7 {
    background: #000;
    border-radius: 4px;
    text-transform: uppercase;
    font: 500 15px / 20px 'Source Sans Pro', sans-serif;
    color: #fff;
    border: none;
    padding: 8px 0;
    display: block;
    text-align: center;
    width: 58%;
    margin: 1px auto 15px;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.Plans_features__O9FnA li:nth-child(odd) {
    background: #f6f6f8;
}
.Plans_features__O9FnA li {
    padding: 12px 30px;
    text-align: left;
    font: 400 12px / 20px 'Source Sans Pro', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 50px;
}
.Plans_plan__Faj5b .Plans_price__oqQP9 {
    font: 700 22px / 56px 'Source Sans Pro', sans-serif;
    color: #cc5264;
}
.Plans_icTick__IANNR{
    position: absolute;
    left: 3%;
    top: 10px;
}
