<section id="blog" class="half-section bg-change">
  <h2 class="d-none">heading</h2>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="main-title wow fadeIn" data-wow-delay="300ms">
                  <h5> Lorem ipsum dolor sit amet </h5>
                  <h2 class="mb-0">Latest<span class="color-pink"> Posts</span></h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
             <div class="bx-blog">
              <a href="#">
                  <div class="row align-items-center">
                      <div class="col-lg-6 col-md-12">
                          <div class="hover-effect">
                              <img alt="blog" src="assets/images/split-blog.jpg" class="about-img">
                          </div>
                      </div>

                      <div class="col-lg-6 col-md-12">
                          <div class="split-container-setting style-three">
                              <div class="main-title wow fadeIn" data-wow-delay="300ms">
                                  <h5> Oct 12, 2019</h5>
                                  <h2 class="mb-0 font-weight-normal"> Agency Blog </h2>
                              </div>
                              <p class="color-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodt temp to the incididunt ut labore et dolore magna aliqua.</p>
                          </div>
                      </div>
                  </div>
              </a>
             </div>
          </div>
          <div class="col-md-4">
              <div class="bx-blog">
               <a href="#">
                   <div class="row align-items-center">
                       <div class="col-lg-6 col-md-12">
                           <div class="hover-effect">
                               <img alt="blog" src="assets/images/split-blog.jpg" class="about-img">
                           </div>
                       </div>

                       <div class="col-lg-6 col-md-12">
                           <div class="split-container-setting style-three">
                               <div class="main-title wow fadeIn" data-wow-delay="300ms">
                                   <h5> Oct 12, 2019</h5>
                                   <h2 class="mb-0 font-weight-normal"> Agency Blog </h2>
                               </div>
                               <p class="color-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodt temp to the incididunt ut labore et dolore magna aliqua.</p>
                           </div>
                       </div>
                   </div>
               </a>
              </div>
           </div>
           <div class="col-md-4">
              <div class="bx-blog">
               <a href="#">
                   <div class="row align-items-center">
                       <div class="col-lg-6 col-md-12">
                           <div class="hover-effect">
                               <img alt="blog" src="assets/images/split-blog.jpg" class="about-img">
                           </div>
                       </div>

                       <div class="col-lg-6 col-md-12">
                           <div class="split-container-setting style-three">
                               <div class="main-title wow fadeIn" data-wow-delay="300ms">
                                   <h5> Oct 12, 2019</h5>
                                   <h2 class="mb-0 font-weight-normal"> Agency Blog </h2>
                               </div>
                               <p class="color-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodt temp to the incididunt ut labore et dolore magna aliqua.</p>
                           </div>
                       </div>
                   </div>
               </a>
              </div>
           </div>

      </div>
  </div>
  </section>
