.active{
  max-height: 200px;
}
.tab-active{
  border-bottom: 5px solid #ce2424;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.link_tab{
  font-size: 16px;
    line-height: 1.75em;
    color: rgba(15, 33, 55, .55);
}
