<section style="background: black;color: white;height: 400px;">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4>Corporate Coaching</h4>
        <h1 class="inner_text">IT Business Solution</h1>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <p class="inner_text_p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore adipisci temporibus
          dolor unde nemo distinctio voluptatem ducimus pariatur dolorum repellendus. Suscipit quidem voluptate quam ut
          itaque odit praesentium dicta rem.</p>
      </div>
    </div>
  </div>
</section>
<section class="inner_page">
  <div class="container" style="border-bottom-style: solid;
  border-bottom-color: #777;
  border-bottom-width: 1px;height: 400px;">
    <div class="row">
      <div class="col-md-6">
        <h1>IT Business Solution tect effect</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, distinctio doloremque sed aspernatur commodi
          quos in velit, libero quidem porro assumenda corporis expedita fuga sit quae maxime architecto dolorum
          eveniet.</p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <ng-container *ngFor="let panel of panels; let i = index">
          <button class="accordion"  (click)="togglePanel(i)">
            {{ panel.title }}
          </button>
          <div class="panel" [ngClass]="{'active': activePanelIndex === i}">
            <p>{{ panel.content }}</p>
          </div>
        </ng-container>

      </div>

    </div>

  </div>

</section>
<section style="background-color: rgba(8, 73, 170, 1);height: 400px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 style="color: white;">Want to chat further? We’d love to hear from you.</h2>
        <p style="color: white;margin-top: 30px;">Hub IT allows your business and technology computers to store,
          transmit,Hub IT allows your business and technology computers to store, transmit,</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <img src="assets/images/inner_img1.png" height="300px" width="400px">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" style="border-bottom: 5px solid #ccc;padding-bottom: 3px;">
    <div class="row">
      <div class="col-md-3"><a class="link_tab" (click)="scrollToSection('Manager_Coaching')"  [class.active]="currentSectionId === 'Manager_Coaching'"> Manager Coaching</a></div>
      <div class="col-md-3"><a  class="link_tab" (click)="scrollToSection('Sales_Coaching')" [class.active]="currentSectionId === 'Sales_Coaching'">Sales Coaching</a></div>
      <div class="col-md-3"><a class="link_tab" (click)="scrollToSection('Performance_Coaching')" [class.active]="currentSectionId === 'Performance_Coaching'">Performance Coaching</a>
      </div>
      <div class="col-md-3"><a  (click)="scrollToSection('Team_Coaching')"  class="link_tab" [class.active]="currentSectionId === 'Team_Coaching'">Team Coaching</a></div>
    </div>
  </div>

  <section class="tab-scroll" id="Manager_Coaching" style="padding-top: 50px;">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/manage_coaching.png">
      </div>
      <div class="col-md-6">
        <h2 class="font1">Manager Coaching</h2>
        <p class="font_p">Hub IT allows your business and technology computers to store, transmit,Hub IT allows your
          business and technology computers to store, transmit,Hub IT allows your business and technology computers to
          store, transmit,Hub IT allows your business and technology computers to store, transmit,Hub IT allows your
          business and technology computers</p>
        <a href="">
          <h6 class="font_link">Read more</h6>
        </a>
      </div>
    </div>
  </section>
  <section id="Sales_Coaching" class="tab-scroll">
    <div class="row">
      <div class="col-md-6">
        <h2 class="font1">Sales Coaching</h2>
        <p class="font_p">Hub IT allows your business and technology computers to store, transmit,Hub IT allows your
          business and technology computers to store, transmit,Hub IT allows your business and technology computers to
          store, transmit,Hub IT allows your business and technology computers to store, transmit,Hub IT allows your
          business and technology computers</p>
        <a href="">
          <h6 class="font_link">Read more</h6>
        </a>
      </div>
      <div class="col-md-6">
        <img src="assets/images/Sales_Coaching.png">
      </div>
    </div>
  </section>
  <section id="Performance_Coaching" class="tab-scroll">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/Performance_Coaching.png">
      </div>
      <div class="col-md-6">
        <h2 class="font1">Performance Coaching</h2>
        <p class="font_p">Hub IT allows your business and technology computers to store, transmit,Hub IT allows your
          business and technology computers to store, transmit,Hub IT allows your business and technology computers to
          store, transmit,Hub IT allows your business and technology computers to store, transmit,Hub IT allows your
          business and technology computers</p>
        <a href="">
          <h6 class="font_link">Read more</h6>
        </a>
      </div>
    </div>
  </section>
  <section id="Team_Coaching" class="tab-scroll">
    <div class="row">
      <div class="col-md-6">
        <h2 class="font1">Team Coaching</h2>
        <p class="font_p">Hub IT allows your business and technology computers to store, transmit,Hub IT allows your
          business and technology computers to store, transmit,Hub IT allows your business and technology computers to
          store, transmit,Hub IT allows your business and technology computers to store, transmit,Hub IT allows your
          business and technology computers</p>
        <a href="">
          <h6 class="font_link">Read more</h6>
        </a>
      </div>
      <div class="col-md-6">
        <img src="assets/images/Team_Coaching.png">
      </div>
    </div>
  </section>



</section>
<section style="background-image: url(assets/images/bg_new.png);background-repeat:no-repeat">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/new.png">
    </div>
    <div class="col-md-6">
      <h2 class="font1">WHAT MORE AT THE CLARYTIST</h2>
      <p class="font_p">As a leading digital agency in Paris, we look to engage with our clients beyond the conventional
        design and development agency relationship, becoming a partner</p>
      <button class="button button2" style="margin-top: 30px;margin-left: 50px;">Read more</button>
    </div>
  </div>
</section>
