<section id="contact" class="bg-light-gray bg-dark1">
  <div class="contact_sec">
    <div class="row mx-lg-0">
        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
            <div class="contact-box">
                <div class="main-title text-center text-md-left mb-4">
                    <h2 class="font-weight-normal">Connect With Us </h2>
                </div>

                <div class="text-center text-md-left">

                    <!--Address-->
                    <p class="mb-3">123 Street New York City , United States Of America. </p>

                    <!--Phone-->
                    <p class="mb-3"> Office Telephone : 001 01085379709 <br>
                        Mobile : 001 63165370895 </p>

                    <!--Email-->
                    <p class="mb-3"> Email: <a href="mailto:email@website.com" class="color-black">admin@website.com</a> <br>
                        Inquiries: <a href="mailto:email@website.com" class="color-black">email@website.com</a> </p>

                    <!--Timing-->
                    <p class="mb-0">Mon-Sat: 9am to 6pm</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 p-0 col-map box-shadow-map">
            <div class="cntfrm">
              <form  [formGroup]="contactForm" (ngSubmit)="onSubmit($event)">
                  <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Name"  formControlName="name"/>
                      <div class="error-msg" *ngIf="contactForm.controls.name.invalid && (contactForm.controls.name.dirty || contactForm.controls.name.touched)">
                        <div *ngIf="contactForm.controls.name.errors?.['required']"> Name Is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email"/>
                      <div class="error-msg" *ngIf="contactForm.controls.email.invalid && (contactForm.controls.email.dirty || contactForm.controls.email.touched)">
                        <div *ngIf="contactForm.controls.email.errors?.['required']"> Email Is required</div>
                        <div *ngIf="contactForm.controls.email.errors?.['email']">Invalid Email</div>
                     </div>
                  </div>
                  <div class="form-group">
                      <textarea class="form-control" rows="4" cols="50" name="message" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group">
                      <button type="submit" value="Submit" class="sbt" [disabled]="contactForm.invalid">Send Message</button>
                  </div>
              </form>
            </div>
        </div>
    </div>
  </div>
  </section>
