<section id="home" class="p-0">
  <h2 class="d-none">heading</h2>
  <!-- new slider starts -->
  <div class="hmeslidr">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="false">
    
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
          <span class="inline-flex">Branding Strategy-1</span>
        </button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"><span class="inline-flex">Branding Strategy-2</span></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"><span class="inline-flex">Branding Strategy-3</span></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"><span class="inline-flex">Branding Strategy-3</span></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="mb-0/5em leading-1em text-white">A client landed a CxO position when the possibility did not even exist in their
            imagination. Now they are building products for environmental sustainability</h2>
          <img src="assets/images/slider-1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <h2 class="mb-0/5em leading-1em text-white">A client discovered and developed a new identity as a transformative speaker. Now
            they are inspiring action on eliminating health disparities in their community.
            </h2>
          <img src="assets/images/slider-2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <h2 class="mb-0/5em leading-1em text-white">A client transformed how they showed up at work which in turn transformed their
            relationships and landed them a promotion. Now they are charting a path for
            themselves.
            </h2>
          <img src="assets/images/slider-3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/slider-1.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    
  </div>
</section>
<section class="calendy-section">
<div class="container calendy-background-img">
<div class="row">
<div class="col-lg-6">
     <p>Powerful coaching can change lives and it all starts with a conversation. <br>
      <b>Talk to us to
      determine if TheClarityst is the one you would choose.</b></p>
</div>
<div class="col-lg-6">
  <a class="button1  text-14 btn-setting btn-calendy">14/05/2024 </a>
  <a class="button1  text-14 btn-setting btn-calendy-2">14/05/2024 </a>
  <a class="button1  text-14 btn-setting btn-calendy">14/05/2024 </a>


</div>
</div>
</div>
</section>
