<app-header></app-header>
<!-- Main Section start -->
   <app-home-main></app-home-main>
  <!-- Main Section end -->

  <!--About start-->
  <app-home-about></app-home-about>
  <!--About end-->

  <!-- animated text section start -->
  <app-home-animatedtext></app-home-animatedtext>
   <!-- animated text section start -->

  <!-- Work Starts -->
   <app-home-works></app-home-works>
  <!-- Work ends -->

  <!-- Clients start -->
  <app-home-testimonials></app-home-testimonials>
  <!-- Clients ends -->

  <!-- Accodian Starts -->
  <app-home-accordion></app-home-accordion>
   <!-- Accodian ends -->

  <!-- Blog start -->
  <app-home-blogs></app-home-blogs>
  <!-- Blog ends -->

  <!-- Contact & Map starts -->
   <app-home-contacts></app-home-contacts>
  <!-- Contact & Map ends -->



