<section class="about overflow-visible bg-dark1" id="about">
  <div class="about_sec">
    <div class="row">
        <div class="col-lg-6 pr-5 mb-5 mb-lg-0 wow fadeInLeft">
            <div class="abtimg d-flex justify-content-between">
              <div class="abtimg1"><img src="assets/images/1.jpg" alt=""></div>
              <div class="abtimg2 position-absolute"><img src="assets/images/2.jpg" alt=""></div>
              <div class="abtimg3"><img src="assets/images/3.jpg" alt=""></div>
            </div>
        </div>
        <div class="col-lg-6 pl-6">
            <div class="main-title text-lg-left offset-md-1 mb-0 wow fadeInUp" data-wow-delay="300ms">

                <h2 class="wow fadeInUp font-weight-light" data-wow-delay="400ms">
                    At the core, TheClarityst’s coaching philosophy is transformation at scale.
                </h2>
                <P> TheClarityst
                    dreams to ignite and support deep rooted, sustainable growth for clients that begins at the
                    individual level and positively transforms</P>

                    <div class="row">
                       <div class="col-md-6">
                        <ul class="pb-2 text-left wow fadeInUp" data-wow-delay="600ms">
                            <li>01 <span>Families</span> </li>
                            <li>02 <span>Teams</span></li>
                            <li>03 <span>Communities</span></li>
                            <li>04 <span>Departments</span></li>
                            <li>05 <span>Ministries</span></li>
                        </ul>
                       </div>
                       <div class="col-md-6">
                        <ul class="pb-2 text-left wow fadeInUp" data-wow-delay="600ms">
                        <li>06 <span>Lines of Businesses</span></li>
                        <li>07 <span>Entire companies</span></li>
                        <li>08 <span>Citizens</span></li>
                        <li>09 <span>Nations</span></li>
                        <li>10 <span>The Earth</span></li>
                    </ul>
                       </div>
                    </div>
                    <p><b>Serve clients</b></p>
                    <p>Latent or known dreams and desires come to life
                        Transform their relationship with themselves so they can truly live their dreams</p>
                    <p><b>Create transformation at scale</b></p>
                    <p>Serve clients through powerful coaching to bring to life their latent or known dreams and
                        desires, Serve clients as a coach
                    </p>
            </div>
        </div>
    </div>
  </div>
  </section>
  <section class="abt-btm">
    <div class="container">
        <div class="row">

            <div class="col-md-12" style="display: flex; align-items: center;justify-content: space-between; ">
              <div class="pdr-20">
                <div class="bx-abt-btm wow fadeInUp" data-wow-delay="300ms">
                    <h4><span class="font-24">01</span><span>/</span>Government officials, bureaucrats
                    </h4>
                    <p>Our design services starts and ends with a best-in-class experience strategy that builds brands. Open an online store and become an international seller. Your customers will enjoy shopping online!</p>
                </div>
              </div>
              <div class="pdr-20">
                  <div class="bx-abt-btm wow fadeInUp" data-wow-delay="300ms">
                      <h4><span class="font-24">02</span><span>/</span>Digital transformation leaders

                      </h4>
                      <p>Our design services starts and ends with a best-in-class experience strategy that builds brands. Open an online store and become an international seller. Your customers will enjoy shopping online!</p>
                  </div>
              </div>
              <div class="pdr-20">
                  <div class="bx-abt-btm wow fadeInUp" data-wow-delay="400ms">
                      <h4><span class="font-24">03</span><span>/</span>CXOs and entrepreneurs</h4>
                      <p>Our design services starts and ends with a best-in-class experience strategy that builds brands. Open an online store and become an international seller. Your customers will enjoy shopping online!</p>
                  </div>
              </div>
              <div class="pdr-20">
                  <div class="bx-abt-btm wow fadeInUp" data-wow-delay="500ms">
                      <h4><span class="font-24">04</span><span>/</span>People managers</h4>
                      <p>Our design services starts and ends with a best-in-class experience strategy that builds brands. Open an online store and become an international seller. Your customers will enjoy shopping online!</p>
                  </div>
              </div>
              <div class="pdr-20">
                  <div class="bx-abt-btm wow fadeInUp" data-wow-delay="600ms">
                      <h4><span class="font-24">05</span><span>/</span>Women professionals</h4>
                      <p>Our design services starts and ends with a best-in-class experience strategy that builds brands. Open an online store and become an international seller. Your customers will enjoy shopping online!</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>
