<section class="about overflow-visible bg-dark1" id="about">
  <div class="about_sec">
    <div class="row">
        <div class="col-lg-6 pr-5 mb-5 mb-lg-0 wow fadeInLeft">
            <div class="abtimg d-flex justify-content-between">
              <div class="abtimg1"><img src="assets/images/1.jpg" alt=""></div>
              <div class="abtimg2 position-absolute"><img src="assets/images/2.jpg" alt=""></div>
              <div class="abtimg3"><img src="assets/images/3.jpg" alt=""></div>
            </div>
        </div>
        <div class="col-lg-6 pl-6">
            <div class="main-title text-lg-left offset-md-1 mb-0 wow fadeInUp" data-wow-delay="300ms">
                <h5 class="wow fadeInUp" data-wow-delay="300ms"> Lorem ipsum dolor sit amet consectetur </h5>
                <h2 class="wow fadeInUp font-weight-light" data-wow-delay="400ms"> We are making design better for everyone</h2>
                <ul class="pb-5 text-left wow fadeInUp" data-wow-delay="600ms">
                    <li>01 <span>Art Direction</span> </li>
                    <li>02 <span>Marketing Strategy</span></li>
                    <li>03 <span>Mobile App Design</span></li>
                    <li>04 <span>Content Management</span></li>
                    <li>05 <span>System & Guides</span></li>
                    <li>06 <span>Graphic Design</span></li>
                    <li>07 <span>Graphic Design</span></li>
                    <li>08 <span>Graphic Design</span></li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  </section>
  <section class="abt-btm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="main-title text-lg-left offset-md-1 mb-0 wow fadeInUp" data-wow-delay="300ms">
                    <h2 class="wow fadeInUp font-weight-light" data-wow-delay="200ms"> We are making better for everyone</h2>
                </div>
            </div>
            <div class="col-md-9" style="padding-right: 35px;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bx-abt-btm wow fadeInUp" data-wow-delay="300ms">
                            <h4><span class="font-24">01</span><span>/</span>Project Offer</h4>
                            <p>Our design services starts and ends with a best-in-class experience strategy that builds brands. Open an online store and become an international seller. Your customers will enjoy shopping online!</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bx-abt-btm wow fadeInUp" data-wow-delay="400ms">
                            <h4><span class="font-24">01</span><span>/</span>Project Offer</h4>
                            <p>Our design services starts and ends with a best-in-class experience strategy that builds brands. Open an online store and become an international seller. Your customers will enjoy shopping online!</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bx-abt-btm wow fadeInUp" data-wow-delay="500ms">
                            <h4><span class="font-24">01</span><span>/</span>Project Offer</h4>
                            <p>Our design services starts and ends with a best-in-class experience strategy that builds brands. Open an online store and become an international seller. Your customers will enjoy shopping online!</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bx-abt-btm wow fadeInUp" data-wow-delay="600ms">
                            <h4><span class="font-24">01</span><span>/</span>Project Offer</h4>
                            <p>Our design services starts and ends with a best-in-class experience strategy that builds brands. Open an online store and become an international seller. Your customers will enjoy shopping online!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
