<section class="page-header">
  <div class="container">
      <h1 class="blog_font">Blog</h1>
      <p class="blog-para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque earum, animi quos ratione.</p>
  </div>
</section>
<section class="blog-main">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="card-blog">
                  <div class="card__header">
                    <img src="https://img.freepik.com/free-photo/medium-shot-woman-living-as-digital-nomad_23-2151205498.jpg?w=826" alt="card__image" class="card__image">
                  </div>
                  <div class="card__body">
                    <span class="tag">Company</span>
                    <h4 class="blog_head">What's new in 2022 Tech</h4>
                    <p class="blog_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                  </div>
                </div>
          </div>
          <div class="col-md-4">
              <div class="card-blog">
                  <div class="card__header">
                    <img src="https://img.freepik.com/premium-photo/neat-stacks-papers-wooden-desk_1118550-4156.jpg?w=740" alt="card__image" class="card__image">
                  </div>
                  <div class="card__body">
                      <span class="tag">Company</span>
                      <h4 class="blog_head">What's new in 2022 Tech</h4>
                      <p class="blog_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                    </div>
                </div>
          </div>
          <div class="col-md-4">
              <div class="card-blog">
                  <div class="card__header">
                    <img src="https://img.freepik.com/premium-photo/productive-workday-person-typing-laptop-with-coffee-papers-wooden-desk-generative-ai_561855-41824.jpg?w=740" alt="card__image" class="card__image">
                  </div>
                  <div class="card__body">
                      <span class="tag">Company</span>
                      <h4 class="blog_head">What's new in 2022 Tech</h4>
                      <p class="blog_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                    </div>
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card-blog">
                  <div class="card__header">
                    <img src="https://img.freepik.com/free-photo/one-businessman-working-laptop-coffee-shop-generated-by-ai_188544-53470.jpg?w=900" alt="card__image" class="card__image">
                  </div>
                  <div class="card__body">
                    <span class="tag">Company</span>
                    <h4 class="blog_head">What's new in 2022 Tech</h4>
                    <p class="blog_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                  </div>
                </div>
          </div>
          <div class="col-md-4">
              <div class="card-blog">
                  <div class="card__header">
                    <img src="https://img.freepik.com/free-photo/side-view-man-living-as-digital-nomad_23-2151205437.jpg?w=826" alt="card__image" class="card__image" width="600">
                  </div>
                  <div class="card__body">
                      <span class="tag">Company</span>
                      <h4 class="blog_head">What's new in 2022 Tech</h4>
                      <p class="blog_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                    </div>
                </div>
          </div>
          <div class="col-md-4">
              <div class="card-blog">
                  <div class="card__header">
                    <img src="https://img.freepik.com/free-photo/side-view-man-living-as-digital-nomad_23-2151205384.jpg?w=826" alt="card__image" class="card__image">
                  </div>
                  <div class="card__body">
                      <span class="tag">Company</span>
                      <h4 class="blog_head">What's new in 2022 Tech</h4>
                      <p class="blog_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                      <a href="#" class="blg-btn">read more</a>
                    </div>
                </div>
          </div>
      </div>

    </div>
</section>

