<section class="bg-dark1 textanmt" style="background: black;width: 100vw;">
  <div class="animate-text">
     <div class="row">
      <div class="col-md-12 container_animated fadeInLeft" #textElements>
        <h1 class="text">TEXT EFFECT<span>WOAH</span></h1>
        <h1 class="text">GSAP<span>AND CLIPPING</span></h1>
        <h1 class="text">CRAZYYY<span>CRAZYYY</span></h1>
        <h1 class="text">HOVER ON ME<span><a href="#" target="_blank">SOURCE</a></span></h1>
        <h1 class="text">LIKE THIS?<span><a href="#" target="_blank">LET'S CONNECT</a></span></h1>
      </div>
     </div>
  </div>
</section>
